<!--templates/registration/password_reset_confirm.html-->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>회원|비밀번호 수정</title>
</head>

<body>

    {% if validlink %}

    <h1>Set a new password!</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="비밀번호 새로운 변경">
    </form>

    {% else %}

    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
        reset.</p>

    {% endif %}
</body>

</html>